#marqueeStyle {
    background-color:firebrick;
}

#video {
    width: 550;
    height: 550;
}

#Contactus {
    text-align: center;
}

p {
    font-size: 100;
}

input
{
    background: grey;
}

.travel_mainDiv {
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.travel_mainDiv img {
    width: 100%;
}

.travel_mainDiv hr {
    width: 230px;
}

.travel_mainDiv h5, .travel_mainDiv p {
    margin-left: 20px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie_head i { 
    float: right; 
}

.movie_text span {
color: #ff7700;
}

.environment_li {
    margin-top: 13px;
}

.environment_h4 {
    border-bottom: 1px solid white;
}

.book {
    cursor:pointer;
}

.book hr {
    margin-bottom: 10px;
}

.modal-content {
    margin-top: 100px;
    text-align: center;
}

.img_modal {
    display: inline-block;
    text-align: center;
    height: 220px;
}

.p_modal {
    margin-top: 10px;
    text-align: center;
}
